
body {
    padding: 20px;
    
    #app {
      border-radius: 4px;
      padding: 20px;
  
      .card {
        box-shadow: -200px 2px 0px 200px rgba(0,0,0,0.39);
        -webkit-box-shadow: -400px 2px 0px 600px rgba(0,0,0,0.39);
        -moz-box-shadow: -200px 2px 0px 200px rgba(0,0,0,0.39); 
        margin-top: 28px;
        background-color: rgba(56,58,71,255);
        width: 500px;
        height: 500px;
        overflow: auto;
      }
        span {
          font-size: 20px;
          font-weight: bold;
          color: white;
        }

        #nology-recipes-login {
            display: flex;
            justify-content: center;
            margin-top: 60px;
            font-size: 28px;
        }

        #user-profile-login {
            display: flex;
            justify-content: center;
            margin: 10px;
            margin-bottom: 70px;
        }
        
      p, 
      h5 {
        color: white;
        text-align: center;
    }

    .input-boxes-container {
        display: flex;
        flex-direction: column;

        .input-box {
            margin-left: 100px;
            margin-right: 100px;
            margin-bottom: 10px;
        }

        span {
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    }
  }
  