@use "../../assets/variables" as *;


.main {
    font-family: $font-family;
}

.main:hover {
    box-shadow: 3px -10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px -10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px -10px 5px 0px rgba(0,0,0,0.75);
}
h1 {
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-family: $font-family;
}

.grid-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2px;
}