
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$font-family: 'Lora', serif;
$background-color:	rgb(240,240,240);
$card-background: rgba(230, 238, 238, 1);
$soft-green: rgba(191,223,191,0.77);
$lighter-blue: rgba(37, 150, 190);
$darker-blue: rgba(26, 105, 133, 1);
$menu-blue: rgba(56,58,71,255);
$dark-orange: rgba(205, 112, 80, 1);