@use "../../assets/variables" as *;

.navbar-container {
  .navbar {
    font-family: $font-family;
    border-bottom: 2px solid $darker-blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10;
    margin-top: 10px;
    margin-bottom: 2px;
    padding: 10;
    padding-bottom: 2px;
  }
  .profile {
    max-width: 53px;
    margin-right: 50px;
  } 
  .profile:hover {
      cursor: grab;
      color:$dark-orange;
  }

  .small-link {
    margin-left: 60px;
  }
  img {
    width:25%
  }
}
h2 {
  margin-left: 115px;
}

.small-link:hover {
  filter: brightness(300%);
  cursor: grab;
  font-weight: bolder;
}

@media screen and (min-width: 992px) {
  .nav {
    grid-column: 1 / -1;
  }
}
