@use "../../assets/variables" as *;


* {
    margin: 2px;
    padding: 1px;
}


.recipe-card-container {
    margin: 5px;
    padding: 5px;
    width: 100%;
    margin-bottom: 40px;

        h1 {
            display: flex;
            justify-content: center;
            font-family: $font-family;
        }
        p {
            font-family: $font-family;
        }
}

.card:hover {
    filter: brightness(120%);
    box-shadow: 7px 8px 5px 0px rgba(191,223,191,0.77);
    -webkit-box-shadow: 7px 8px 5px 0px rgba(191,223,191,0.77);
    -moz-box-shadow: 7px 8px 5px 0px rgba(191,223,191,0.77);;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 2px;
    padding-left: 3px;
    padding-right: 3px;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 1) 0 2px 0px;
    box-sizing: border-box;
    color: #121212;
    flex: 1 1 auto;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.3;
    transition: box-shadow .2s;
    white-space: nowrap;
    border: 0;
}

button:hover {
    filter: brightness(80%);
    cursor: grab;
}